# instructions:
# 1. put this file in `/etc/nginx/conf.d/snippets/iocaine.func`.
# 2. for every nginx site that wants to use iocaine:
#     1. rename their location blocks to start with `@`.
#     2. add a location block with each of the old names, but only containing the following:
#       ```
#       set $iocaine_upstream @<location name>;
#       include conf.d/snippets/iocaine.func;
#       ```

proxy_cache off;
proxy_intercept_errors on;
proxy_pass http://unix:${IOCAINE_SCKT};

recursive_error_pages on;
error_page 421 = $iocaine_upstream;
