PATH_TO_ROOT_DOCKER_PROJ=../../

# these should be paths inside the docker container! and ensure they are under
# the `shared_sckts` volume's path
IOCAINE_SCKT=<...>
IOCAINE_METRICS_SCKT=<...>

# a user with git credentials that is used to automatically commit after updating ai robots list
GIT_USER=<username>
