# since this file is also sourced by `deploy.sh`, wrap all relative paths that are invalid
# relative this current directory in single quotes to prevent bash from evaluating them!

PATH_TO_ROOT_DOCKER_PROJ=../../

# these should be paths inside the docker container! and ensure they are under
# the `shared_sckts` volume's path
IOCAINE_SCKT='<...>'
IOCAINE_METRICS_SCKT='<...>'
